<img src="/img/logo_clan.png" alt="Logo" style="width:128px;height:128px;">
<p class="text-left"><h3> 1 - Rôles </h3> </p>
<ul>
    <li>Le Chef</li>
    <ul>
        <li>Etre actif un maximum (d’où Turn over)</li>
        <li>Etre porte-parole des réflexions</li>
        <li>Décider en cas de litige</li>
    </ul>
    <li>Les Adjoints</li>
    <ul>
        <li>L'accueil des nouveaux joueurs</li>
        <li>L’organisation des GDC</li>
    </ul>
    <li>Les Ainés</li>
    <ul>
        <li>Recrutement</li>
        <li>Conseiller les membres</li>
        <li>Prendre et faire remonter les infos si absence des Adjoints ou du chef </li>
    </ul>
    <li>Les Membres</li>
    <ul>
        <li>Faire leurs deux attaques en GDC</li>
        <li>Animer le tchat</li>
    </ul>
</ul>
<p>Pas besoin de rappeler que les responsabilités vont dans l'ordre croissant des grades, un adjoint devra faire ses 2 attaques, conseiller les membres dans et hors GDC, prendre et faire remonter les infos si absence du chef.
    A l'inverse les aînées ne s’occuperont pas de l'organisation de la GDC ni de l'accueil des nouveaux (Juste de la politesse…) et encore moins les membres.
</p>
<p class="text-left"><h3> 2 - Les Promotions </h3> </p>
<ul>
    <li>Conditions pour devenir chef</li>
    <ul>
        <li>Turn Over avec les adjoints (vote ou simple rotation)</li>
    </ul>
    <li>Conditions pour devenir Adjoint</li>
    <ul>
        <li>Aucune sauf démission ou départ d'un adjoint</li>
        <li>Vote des Adjoints et du Chef</li>
    </ul>
    <li>Conditions pour devenir Ainé</li>
    <ul>
        <li>Savoir conseiller sur les différentes compositions possibles et sur quels Vivis les utiliser</li>
        <li>Capacité à orienter les attaques des autres</li>
        <li>Décision des Adjoints et du chef</li>
        <li>Etre présent sur le tchat</li>
        <li>Donner des troupes régulièrement</li>
        <li>Etre actif</li>
    </ul>
</ul>
<p class="text-left"><h3> 3 - Le Recrutement </h3> </p>
<p>Le recrutement s’effectuera de sorte à améliorer notre composition GDC.</p>
<ul>
    <li>Adultes ou matures</li>
    <li>Apporter preuve de savoir-faire en attaque (montrer exemple d’attaque)</li>
</ul>
<table class="table">
    <caption>Critères requis</caption>
    <thead>
    <tr>
        <th>Niveau HDV</th>
        <th>Etat du village</th>
        <th>Troupes nécessaires GDC</th>
        <th>Niveau Minimum des héros</th>
        <th>Nombre d'étoiles de guerre</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <th scope="row">7</th>
        <td>Village presque maxé</td>
        <td>Dragon 2</td>
        <td>-</td>
        <td>-</td>
    </tr>
    <tr>
        <th scope="row">8</th>
        <td>Maxé un minimum</td>
        <td>Dragon 3 ou Cochon 4 ou Pekka 3 ou Golem</td>
        <td>Roi 5</td>
        <td>150</td>
    </tr>
    <tr>
        <th scope="row">9</th>
        <td>Avancé</td>
        <td>Golem 2, Pekka 3, Cochon 4 </td>
        <td>Reine 5</td>
        <td>200</td>
    </tr>
    <tr>
        <th scope="row">10</th>
        <td>Avancé</td>
        <td>Troupes de GDC maxées</td>
        <td>Roi 20 Reine 20</td>
        <td>250</td>
    </tr>
    <tr>
        <th scope="row">11</th>
        <td>Avancé</td>
        <td>Troupes de GDC maxées</td>
        <td>Roi 30 Reine 30</td>
        <td>300</td>
    </tr>
    </tbody>
</table>
<p class="text-left"><h3> 4 - L'organisation des guerres de clan </h3> </p>
<table class="table">
    <caption>Jours de lancement:</caption>
    <thead>
    <tr>
        <th>Jour</th>
        <th>Heure</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>Samedi</td>
        <td>19h30</td>
    </tr>
    <tr>
        <td>Lundi</td>
        <td>19h30</td>
    </tr>
    <tr>
        <td>Mercredi</td>
        <td>19h30</td>
    </tr>
    </tbody>
</table>
<p>On essaiera de respecter  les horaires avec plus ou moins 15 minutes de battement,
    La GDC sera relancée toutes les 10 minutes maximum afin de réinitialiser l’algorithme de recherche.
    (mach- making)</p>
<ul>
    <li>La défense</li>
    <ul>
        <li>Demander des troupes précises pour faciliter le remplissage (nombres et niveau)</li>
    </ul>
    <li>La stratégie</li>
    <ul>
        <li>On assigne les réservations en fonction de votre niveau dans
            le tableau du clan (troupes, expérience…).
            sauf exception de choix de vivi pour maximiser les étoiles</li>
        <li>Les premières attaques seront à faire tôt afin de pouvoir
            corriger quelques assignations (le soir même dans l’idéal)</li>
        <li><b>Les hdv 8 doivent faire leurs 2 attaques le 1er soir</b></li>
    </ul>
</ul>

<p class="text-left"><h3> 5 - Les dons </h3> </p>

<ul>
    <li>Pas de ratio minimum (pas d’abus non plus)</li>
    <li>Pour les guerres précisez dans vos demandes (pour GDC : troupes précises avec lvl) </li>
    <li>Pour les rush précisez dans vos demandes (pour RUSH : troupes précises avec lvl)</li>
    <li>Pour toutes autres demandes vous devez préciser les troupes que vous souhaitez sans limite de niveau. (ex : géant ou sorcier)</li>
</ul>

<p class="text-left"><h3> 6 - Règlement et sanctions </h3> </p>
<ul>
    <li>Règles</li>
    <ul>
        <li>2 attaques en GDC même en cas de défaite / sanctions (sauf message officiel)</li>
        <li>Compositions d'attaque sérieuse en GDC / sanctions</li>
        <li>Demandes de troupes précises dans les châteaux de clan (en défense et en attaque)</li>
        <li>Attaquer tôt. les 2 attaques le soir même pour les HDV 8 et la 1ère au minimum pour les autres</li>
        <li>Respect de l'organisation pour les GDC / sanctions</li>
        <li>Pas de guerre si Héros en amélioration (sauf Roi mais en aviser les Adjoints)</li>
        <li>Respect des autres membres du clan (cordialité et savoir vivre)</li>
    </ul>
    <li>Sanctions</li>
    <ul>
        <li>Rappel à l'ordre 1 ère fois</li>
        <li>Mise à l’écart pour la 2 ème fois</li>
        <li>Exclusion pour la 3ème fois</li>
    </ul>
</ul>
