<div ng-controller="chartCtrl">

  <h1> Question de la semaine </h1>
  <h4> Etes vous satisfait de l'organisation des GDCs ? </h4>
  <div class="row">
    <div id="choices">
      <div ng-click="vote('Ouais ça tourne bien !')" class="button_width btn btn-success">TROP BIEN !</div>
      <div ng-click="vote('Non c'est trop le bordel')" class="button_width btn btn-danger">D'la merde</div>
      <div ng-click="vote('ça dépend')" class="button_width btn btn-default">Bof</div>
    </div>
  </div>

</div>
