<img src="/img/GEMME MON CLAN.png">
<div ng-controller="chartCtrl">

  <h2> Bienvenue sur le site officiel de GEMME-MON-CLAN </h2>
<br><br>
</div>

<h3> Rejoignez-nous sur Clash Royale ! ==> Gemme-mon-clans </h3>
<h4>Plan du site:</h4>
<br>
<div class="btn-group" role="group" >
  <button type="button" class="btn btn-default"><a ui-sref="guide">Guide</a></button>
  <button type="button" class="btn btn-info"><a ui-sref="members">Liste des Membres</a></button>
  <button type="button" class="btn btn-info"><a ui-sref="attackRanking">Classement d'attaque</a></button>
  <button type="button" class="btn btn-info"><a ui-sref="troops">Troupes</a></button>
  <button type="button" class="btn btn-info"><a ui-sref="activityRecord">Record d'activités</a></button>
  <button type="button" class="btn btn-info"><a ui-sref="trophyRecord">Record de Trophées</a></button>
  <button type="button" class="btn btn-warning"><a ui-sref="clanwars">Guerres de clan</a></button>
</div>
