<div ng-controller="chartCtrl">

  <h1> Question de la semaine </h1>
  <h4> Etes-vous satisfait de l'organisation des GDCs ? </h4>
  <div class="row">
    <div id="choices">
      <div ng-click="vote('TRO BIEN !')" class="button_width btn btn-success">Ouais ça tourne bien !</div>
      <div ng-click="vote('D\'la merde')" class="button_width btn btn-danger">Non trop le bordel</div>
      <div ng-click="vote('Bof')" class="button_width btn btn-default">Bof bof ça dépend</div>
    </div>
  </div>

</div>
