

</body>
<script src="/components/angular/angular.min.js"></script>
<script src="/components/angular-ui-router/release/angular-ui-router.min.js"></script>
<script src="/components/jquery/dist/jquery.min.js"></script>
<script src="/components/bootstrap/dist/js/bootstrap.min.js"></script>

<script src="/socket.io/socket.io.js"></script>
<script src="/components/angular-socket-io/socket.js"></script>

<!--vendors-->
<script src="/components/Chart.js/Chart.js"></script>
<script src="/components/angular-chart.js/dist/angular-chart.min.js"></script>
<script src="/js/app.js"></script>
<script src="/js/services/socket.js"></script>

</html>
