<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">
  <title><%- title %></title>
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/components/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="/components/angular-chart.js/dist/angular-chart.min.css">
  <% if (ENV_DEVELOPMENT) { %>
    <script src="http://localhost:35729/livereload.js"></script>
  <% } %>
</head>
<body ng-app="chartApp" ng-controller="mainCtrl">
<img src="http://vignette3.wikia.nocookie.net/clashofclans/images/1/11/Clash_of_clans_logo_600_270.png/revision/latest?cb=20130723160549" alt="CoC_logo" style="width:600px;height:270px;">

