<!-- Fixed navbar -->
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">GEMME MON CLAN</a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li ui-sref-active="active"><a ui-sref="home">Accueil</a></li>
        <li ui-sref-active="active"><a ui-sref="answers">Question de la semaine</a></li>
        <li ui-sref-active="active"><a ui-sref="guide">Guide</a></li>
        <li ui-sref-active="active"><a ui-sref="members">Liste des Membres</a></li>
        <li ui-sref-active="active"><a ui-sref="clanwars">Guerres de clan</a></li>
      </ul>
    </div>
  </div>
</nav>
